/* === Museo Sans font ===*/
/*100*/
@font-face {
    font-family: "Museo Sans";
    src:
            url("../fonts/MuseoSansCyrl-100.woff2") format("woff2"),
            url("../fonts/MuseoSansCyrl-100.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Museo Sans";
    src:
            url("../fonts/MuseoSansCyrl-100Italic.woff2") format("woff2"),
            url("../fonts/MuseoSansCyrl-100Italic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
/*.. 100*/

/*900*/
@font-face {
    font-family: "Museo Sans";
    src:
            url("../fonts/MuseoSansCyrl-900.woff2") format("woff2"),
            url("../fonts/MuseoSansCyrl-900.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Museo Sans";
    src:
            url("../fonts/MuseoSansCyrl-900Italic.woff2") format("woff2"),
            url("../fonts/MuseoSansCyrl-900Italic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
/*.. 900*/
/* ..  === Museo Sans font ===*/