/*переменные*/
:root {
    --main-font: "Museo Sans", sans-serif;

    --main-text-color: #000;
    --light-text-color: #fff;
    --accent-ui-color: #23aae2;

    --footer-text-color: #faf7f7;
    --pages-section-bg: #f7f7f7;

    --hover-transition: all 0.3s ease;
}

/* .. переменные*/

/*---------------------------------------*/

/* === общие настройки === */
html, body {
    height: 100%;
}
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--main-font);
    font-weight: 100;
    font-style: normal;
    font-size: 15px;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*контейнеры*/
.container {
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}
/*контейнеры страниц*/
.container-inner-basic, .container-inner-extra {
    margin: 0 auto;
    text-align: center;
}
.container-inner-basic {
    padding: 0 65px;
}
.container-inner-extra {
    padding: 0 45px;
}
/* .. контейнеры страниц*/
/* .. контейнеры*/

/*прижатие футера к низу страницы*/
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}
/* .. прижатие футера к низу страницы*/

/*заголовки*/
h1, h2, h3 {
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    font-weight: 900;
}
h1 {
    font-size: 90px;
    color: var(--light-text-color);
    opacity: 0.91;
    text-shadow: 0 0 46px rgba(0, 0, 0, 0.31);
    text-align: center;
    letter-spacing: 0.45em;
}
h1 span {
    font-size: 51px;
    letter-spacing: 0.25em;
}
h1.pages-html__offer__title {
    font-size: 51px;
    line-height: 1;
    letter-spacing: 0.25em;
}
h2 {
    font-size: 42px;
    color: var(--main-font);
    letter-spacing: 0.1em;
}
/* .. заголовки*/

/*кнопки*/
.btn {
    border: 2px solid transparent;
    border-radius: 4px;
    width: 216px;
    height: 62px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    padding: 23px 25px;
    line-height: 1;
}
.light-btn {
    color: var(--light-text-color);
    border-color: var(--light-text-color);
}
.accent-btn {
    color: var(--accent-ui-color);
    border-color: var(--accent-ui-color);
}
/* .. кнопки*/

/*фон, цвет текста и ссылок для секций*/
.hero, .footer, .moving-offer, .consultation {
    color: var(--light-text-color);
    background-color: var(--accent-ui-color);
}
.hero, .moving-offer {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.hero a, .footer a {
    color: var(--light-text-color);
}
/* .. фон, цвет текста и ссылок для секций*/

/*блоки с телефонами в шапке и футере*/
.phones {
    font-weight: 900;
    column-gap: 17px;
}
.phones__icon {
    width: 26px;
    height: 26px;
}
.phones__links {
    flex-direction: column;
    row-gap: 3px;
}
.pages-html__phone__links {
    margin-top: 3px;
}
.pages-html__phone__links::after {
    content: '';
    display: block;
    width: 0;
    border-bottom: 1px dashed var(--light-text-color);
    transition: var(--hover-transition)
}
.pages-html__phone__links:hover::after {
    width: 100%;
}
/* .. блоки с телефонами в шапке и футере*/
/* .. === общие настройки === */

/* ===  <!--первый экран--> ===*/
/*общие настройки*/
.hero {
    font-weight: 900;
    background-image: url("../img/hero-bg.png");
    padding-bottom: 125px;
}
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: -moz-linear-gradient(130deg, rgb(0, 0, 0) 0%, rgb(0, 80, 113) 100%);
    background-image: -webkit-linear-gradient(130deg, rgb(0, 0, 0) 0%, rgb(0, 80, 113) 100%);
    background-image: -ms-linear-gradient(130deg, rgb(0, 0, 0) 0%, rgb(0, 80, 113) 100%);
    opacity: 0.69;
}
.main-hero {
    height: 100vh;
}
/* .. общие настройки*/
/*шапка сайта*/
.topline {
    position: relative;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.25);
}
.topline__logo {
    padding: 8px 0;
    background-color: var(--accent-ui-color);
}
.topline__logo img {
    opacity: 0.55;
}
/* .. шапка сайта*/
/*главная навигация*/
.nav__item {
    cursor: pointer;
    font-size: 11px;
    text-transform: uppercase;
    padding: 10px 12px;

    border-radius: 3px;
    background-color: transparent;

    transition: var(--hover-transition);
}
.nav__item:hover {
    background-color: rgba(255, 255, 255, 0.141);
}
/* .. главная навигация*/
/*блок главного заголовка страницы*/
.offer {
    max-width: 770px;
    margin: 200px auto 0 auto;
}
.pages-html__offer {
    max-width: 100%;
    margin: 85px auto 0 auto;
}
/* .. блок главного заголовка страницы*/
/*стрелка вниз + анимация*/
.arrow-down {
    position: relative;
    margin: 40px auto 0 auto;
    width: 45px;
    height: 45px;
}
.main-arrow-down {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    animation-duration: 1.7s;
    animation-name: slideUp;
    animation-timing-function: linear;
    animation-iteration-count: 3;
}
@keyframes slideUp {
    0% {
        bottom: 100px;
    }
    50% {
        bottom: 75px;
    }
    100% {
        bottom: 100px
    }
}
/* .. стрелка вниз + анимация*/
/* .. ===  <!--первый экран--> ===*/

/* === <!--секция 'преимущества'--> === */
/*общие настройки секции + заголовок*/
.advantages {
    padding: 89px 0 97px 0;
}
.advantages__title {
    margin-bottom: 63px;
}
/* .. общие настройки секции + заголовок*/
/*список преимуществ*/
.advantages__list {
    align-items: flex-start;
    column-gap: 28px;
    flex-wrap: wrap;
}
.advantages__item {
    max-width: 370px;
    text-align: center;
    background-color: #f4f4f4;
    box-shadow: 1px 1.732px 4px 0px rgba(149, 147, 147, 0.33);

    padding: 56px 30px 59px 30px;
}
.advantages__icon {
    position: relative;
    height: 78px;
    margin-bottom: 27px;
}
.advantages__icon img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.advantages__list-heading {
    font-size: 20px;
    margin-bottom: 19px;
}
.advantages__list-heading::after {
    content: '';
    display: block;
    height: 1px;
    width: 38px;
    background-color: var(--main-text-color);
    opacity: 0.19;
    margin: 16px auto 0 auto;
}
.advantages__description {
    height: 80px;
    font-size: 17px;
    opacity: 0.8;
    line-height: 1.294;
    text-align: center;
}
/* .. список преимуществ*/
/* ..  === <!--секция 'преимущества'--> === */

/* === <!--секция 'переезд в болгарию'--> === */
/*общие настройки секции*/
.moving-offer {
    padding: 95px 0 99px 0;
    background-image: url("../img/moving-bg.png");
}
.moving-offer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0e2a41;
    opacity: 0.859;
}
/* .. общие настройки секции*/
/*основной контент секции*/
.moving-wrapper {
    position: relative;
    z-index: 10;
    text-align: center;
}
.moving-offer__header {
    margin-bottom: 57px;
    text-align: center;
}
.moving-offer__title {
    margin-bottom: 29px;
}
.moving-offer__quote {
    max-width: 450px;
    margin: 0 auto;
}
.blockquote__quote {
    margin-bottom: 17px;
}
.blockquote__text {
    font-size: 18px;
    font-style: italic;
    line-height: 1.444;
}
.blockquote__author {
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
}
.moving-offer__question {
    max-width: 770px;
    margin: 0 auto;
    border: 1px dashed var(--light-text-color);
    padding: 60px;
    position: relative;
}
.moving-offer__question::before, .moving-offer__question::after {
    content: '';
    display: block;
    width: 33px;
    height: 33px;
    background-image: url("../img/icons/question-icon.png");
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.moving-offer__question::before {
    top: -17px;
}
.moving-offer__question::after {
    bottom: -17px;
}
.moving-offer__text {
    max-width: 665px;
    font-size: 19px;
    text-transform: uppercase;
    line-height: 1.842;
    text-align: center;
}
.moving-offer__text_main {
    font-weight: 900;
    font-size: 23px;
}
.moving-offer__answer {
    margin-top: 71px;
}
.moving-offer__answer-text {
    margin-bottom: 48px;
}
.moving-offer__heading {
    font-size: 37px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 10px;
}
.moving-offer__desc {
    font-size: 18px;
}
/* .. основной контент секции*/
/* ..  === <!--секция 'переезд в болгарию'--> === */

/* === <!--секция 'недвижимость'--> === */
/*общие настройки секции*/
.estate-offer {
    padding: 108px 0 98px 0;
    background-image: url("../img/estate-bg.png");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
}
/* .. общие настройки секции*/
/*обертка основного контента*/
.estate__content {
    position: relative;
    max-width: 770px;
    margin: 151px auto 60px auto;
}
.estate__content::after {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    background-image: url("../img/icons/estate-decor.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    bottom: 142px;
    left: 50%;
    transform: translateX(-50%);
}
/* .. обертка основного контента*/
/*декоративные картинки секции*/
.estate__images-01, .estate__images-02, .estate__images-03 {
    position: absolute;
    transform: translateX(-50%);
}
.estate__images-01 {
    top: -125px;
    left: 51%;
}
.estate__images-02 {
    left: 38%;
    top: -74px;
    z-index: -5;
}
.estate__images-03 {
    left: 60%;
    top: -55px;
    z-index: -5;
}
/* .. декоративные картинки секции*/
/*блоки с текстом*/
.text-block {
    background-color: #f4f4f4;
    box-shadow: 1px 1.732px 4px 0px rgba(149, 147, 147, 0.33);
}
.text-block + .text-block {
    margin-top: 6px;
}
.text-block__title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 16px;
}
.text-block__text {
    font-size: 17px;
    line-height: 1.25;
}
.text-block_top {
    padding: 71px 35px 43px 35px;
}
.text-block_bottom {
    padding: 44px 35px 39px 35px;
}
/* .. блоки с текстом*/
/* .. === <!--секция 'недвижимость'--> === */

/* === <!--секция 'отзывы'--> === */
/*болванка-прототип слайдера*/
.review {
    padding: 89px 0;
}
.review__title {
    margin-bottom: 68px;
}
.slider__slide {
    background-color: var(--light-text-color);
    box-shadow: 1px 1.732px 4px 0 rgba(149, 147, 147, 0.33);
    max-width: 765px;
    position: relative;
    padding: 44px 40px 46px 127px;

    /*height: 205px;*/
}
.slider__image {
    border-radius: 50px;
    overflow: hidden;
    width: 132px;
    height: 132px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -62px;
}
.slider__info {
    text-transform: uppercase;
    margin-bottom: 27px;
}
h3.slider__author {
    font-size: 16px;
}
.slider__link, .slider__direction {
    color: var(--accent-ui-color);
    font-size: 12px;
}
.slider__link {
    border-bottom: 1px solid var(--accent-ui-color);
    font-weight: 900;
}
.slider__direction {
    font-size: 12px;
}
.slider__text {
    font-size: 14px;
    color: #363636;
    font-style: italic;
    line-height: 1.429;
}
.bullets {
    width: 78px;
    margin: 51px auto 0 auto;
}
.slider__bullets {
    column-gap: 10px;
}
.slider__bullet {
    width: 19px;
    height: 19px;
    border: 1px dashed var(--accent-ui-color);
    border-radius: 50%;
    transition: var(--hover-transition);
}
.slider__bullet:hover {
    border: 1px solid var(--accent-ui-color);
    background-color: var(--accent-ui-color);
}
/* .. болванка-прототип слайдера*/
/* .. === <!--секция 'отзывы'--> === */

/* === <!--секция 'запись на консультацию'--> === */
/*общие настройки секции + заголовок*/
.consultation {
    padding: 84px 0;
    background-image: url("../img/consultation-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.consultation__header {
    margin-bottom: 30px;
}
.consultation__title {
    line-height: 1.2;
    margin-bottom: 27px;
}
.consultation__text {
    font-size: 21px;
    text-transform: uppercase;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    line-height: 1.4;
    letter-spacing: 0.05em;
}
.page-html__consultation__text {
    max-width: 330px;
}
.consultatiion__decor {
    width: 33px;
    height: 33px;
    margin: 35px auto 0 auto;
}

h2.page-block__consultation__title {
    font-size: 25px;
    margin-bottom: 17px;
}
h2.page-block__consultation__title span {
    font-size: 20px;
}
.page-block__consultation__text {
    font-size: 18px;
    width: 258px;
}
/* .. общие настройки секции + заголовок*/
/*форма заявки на консультацию*/
form.consultation__form {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
form input {
    border: 1px solid var(--light-text-color);
    border-radius: 3px;
    background-color: var(--accent-ui-color);
    font-weight: 300;
    width: 370px;
    height: 67px;
    font-size: 13px;
    text-transform: uppercase;
    padding: 35px;
    transition: var(--hover-transition);
}
form input::placeholder {
    font-weight: 100;
    color: var(--light-text-color);
    opacity: 0.56;
    transition: var(--hover-transition);
}
form input:hover {
    box-shadow: 0px 0px 35px 0px rgba(14, 14, 14, 0.3);
}
form input:hover::placeholder {
    opacity: 1;
}
button.consultation-btn {
    width: 370px;
    margin-top: 11px;
}
.block-page__block_form {
    width: 389px;
    background-color: var(--accent-ui-color);
    padding: 44px 22px;
    color: var(--light-text-color);
    border-radius: 3px;
}
form input.page-block__input, button.page-block__consultation-btn {
    width: 292px;
    height: 53px;
    padding: 19px;
}
form input.page-block__input {
    background-color: #30c2ff;
}
button.page-block__consultation-btn {
    font-size: 13px;
}
/* .. форма заявки на консультацию*/
/* .. === <!--секция 'запись на консультацию'--> === */

/* === <!--подвал сайта--> === */
.footer {
    padding: 11px 0;
    box-shadow: 0 13px 131px 0 rgba(0, 0, 0, 0.26);
}
.footer__credits {
    font-size: 14px;
    color: var(--footer-text-color);
    column-gap: 120px;
}
.footer__rights, .footer__agreement {
    opacity: 0.76;
}
.footer__agreement {
    cursor: pointer;
    border-bottom: 1px dotted var(--footer-text-color);

    transition: var(--hover-transition);
}
.footer__agreement:hover {
    color: var(--light-text-color);
    border-bottom-color: var(--light-text-color);
    opacity: 1;
}
/* .. === <!--подвал сайта--> === */

/*---------------------------------------*/

/*остальные страницы*/
.page-block {
    background-color: var(--pages-section-bg);
    position: relative;
}
.page-block__about {
    height: 1110px;
}

.page-block__move {
    height: 682px;
}
.page-block__contacts {
    height: 656px;
}

.page-block__content {
    background-color: var(--light-text-color);
    box-shadow: 0 3px 1px 0 rgba(159, 160, 160, 0.18);
    position: absolute;
    top: -85px;
    left: 50%;
    transform: translateX(-50%);
    width: 1030px;
}

.page-block__content_about {
    padding: 50px 0 75px 0;
}

.page-block__content_contacts {
    padding: 50px 0 62px 0;
}

.page-block__desc {
    font-size: 18px;
    line-height: 1.389;
    text-align: center;
    margin-bottom: 60px;
}

.page-block__desc span {
    font-weight: 900;
}

.page-block__banner {
    text-transform: uppercase;
    justify-content: space-evenly;
    margin-bottom: 58px;
}

.block-page__cta {
    font-weight: 900;
    letter-spacing: 0.05em;
}

.block-page__cta-bottom {
    font-size: 30px;
}

.page-block__text_main {
    color: var(--accent-ui-color);
}

.page-block__text_main-top {
    font-size: 39px;
    letter-spacing: 0.07em;
    margin-top: -5px;
    margin-bottom: 5px;
}

.page-block__extra {
    font-size: 19px;
    color: #BDBDBD;
    letter-spacing: 0.55em;
}

.page-block__text_addition-bottom {
    letter-spacing: 0.07em;
}

.page-block__question {
    background-color: var(--accent-ui-color);
    color: var(--light-text-color);
    height: 76px;
    line-height: 76px;
    font-size: 23px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    margin-bottom: 60px;
}

h3.page-block__header {
    font-size: 29px;
    opacity: 0.98;
    text-align: center;
    margin-bottom: 50px;
}

.page-block__move-wrapper {
    justify-content: space-evenly;
    column-gap: 20px;
}
.block-page__article {
    max-width: 400px;

    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.block-page__article_top {
    row-gap: 100px;
}

.article__text {
    font-size: 16px;
    opacity: 0.8;
    line-height: 1.438;
}

.partners {
    align-items: flex-start;
    justify-content: space-evenly;
}

.partners__partner {
    background-color: #f4f4f4;
    box-shadow: 1px 1.732px 4px 0 rgba(149, 147, 147, 0.33);
    padding: 37px 34px 42px 34px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.438;
    text-align: justify;
    max-width: 435px;
}

.partners__img {
    width: 134px;
    height: 134px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.partners__name {
    margin-top: 30px;
    margin-bottom: 23px;
    text-align: center;
    font-size: 21px;;
    color: rgb(0, 0, 0);
    font-weight: 900;
}

.partners__name::after {
    content: '';
    display: block;
    height: 1px;
    width: 37px;
    background-color: #c6c6c6;
    margin: 13px auto 0 auto;
}

.partners__quote {
    height: 225px;
    overflow-y: hidden;
}

.contacts__icon {
    width: 32px;
}

.contacts__item {
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 18px;
}

.contacts__item + .contacts__item {
    margin-top: 50px;
}

.contacts__title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 16px;
    line-height: 1;
}

.contacts__contact {
    line-height: 1;
    font-size: 16px;
}

.contacts__contact + .contacts__contact {
    margin-top: 6px;
}

/* .. остальные страницы*/


