@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 1226px) {
    .advantages__list {
        column-gap: 20px;
        row-gap: 21px;
    }

    .advantages__item {
        max-width: 352px;
    }
}

@media screen and (max-width: 1156px) {
    .advantages__list {
        justify-content: center;
    }

    .advantages__item:last-child {
        max-width: 724px;
        width: 724px;
    }

    .advantages__description_last {
        width: 306px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1045px) {
    .page-block__about {
        height: auto;
    }

    .page-block__content {
        width: 100%;
        top: 0;
        position: relative;
    }
    .partners {
        column-gap: 20px;
        padding: 0 20px;
    }
}

@media screen and (max-width: 1010px) {
    .slider__slide {
        max-width: 597px;
    }
}
@media screen and (max-width: 980px) {
    .footer__credits {
        column-gap: 50px;
    }
}
@media screen and (max-width: 936px) {
    .partners__partner {
        max-width: 335px;
    }
    .partners__quote {
        height: 310px;
    }
}

/* === главная страница и общие настройки страниц === */
@media screen and (max-width: 880px) {
    .container {
        padding: 0 20px;
    }

    nav.nav {
        display: none;
    }

    .topline__phones {
        margin-right: 59px;
    }

    .burger-icon {
        display: block;
        position: absolute;
        top: 25px;
        right: 27px;
    }

    h1 {
        font-size: 64px;
    }

    h1 span {
        font-size: 44px;
    }

    .footer__phones {
        display: none;
    }
}

@media screen and (max-width: 860px) {
    .page-block__banner {
        flex-direction: column;
        row-gap: 36px;
    }
}

@media screen and (max-width: 820px) {
    .slider__info {
        justify-content: flex-start;
    }

    .slider__slide {
        max-width: 500px;
    }
    .slider__image {
        left: -45px;
    }
}

@media screen and (max-width: 764px) {
    .advantages__item {
        width: 455px;
        max-width: 455px;
    }

    .advantages__item:last-child {
        max-width: 455px;
        width: 455px;
    }

    .advantages__description {
        width: 306px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 735px) {
    .partners {
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }
    .partners__partner {
        width: 100%;
        max-width: 100%;
    }
    .partners__quote {
        height: 230px;
        max-width: 500px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 724px) {
    .estate-offer {
        padding: 65px 0 63px 0;
    }

    .estate__content {
        margin: 130px auto 38px auto;
    }
}

@media screen and (max-width: 700px) {
    .slider-arrow {
        display: none;
    }
    .slider__block {
        justify-content: center;
    }

    .slider__image {
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .slider__slide {
        padding: 89px 35px 28px 35px;
    }

    .slider__info {
        flex-direction: column;
    }
    .slider__text {
        text-align: center;
    }
    .review__title {
        margin-bottom: 117px;
    }
}

@media screen and (max-width: 655px) {
    .footer__agreement {
        display: none;
    }
}

/*---------------------------------------------------*/
@media screen and (max-width: 620px) {
    h1 {
        font-size: 55px;
    }

    h1 span {
        font-size: 37px;
    }
}

@media screen and (max-width: 615px) {
    .advantages {
        padding: 69px 0 90px 0;
    }

    .advantages__title {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 540px) {
    h1 {
        font-size: 50px;
    }

    h1 span {
        font-size: 33px;
    }

    .estate__images-02, .estate__images-03 {
        display: none;
    }
}

@media screen and (max-width: 530px) {
    h1.pages-html__offer__title {
        line-height: 1.373;
    }
}

@media screen and (max-width: 480px) {
    .topline__phones {
        display: none;
    }

    h1 {
        font-size: 47px;
    }

    .main-arrow-down {
        bottom: 65px;
    }

    @keyframes slideUp {
        0% {
            bottom: 65px;
        }
        50% {
            bottom: 40px;
        }
        100% {
            bottom: 65px
        }
    }
    .advantages__list {
        row-gap: 15px;
    }

    .moving-offer {
        padding: 89px 0 86px 0;
        background-image: none;
        background-color: rgba(0, 0, 0, 0.53);
    }

    .moving-offer__header {
        margin-bottom: 50px;
    }

    .moving-offer__title {
        margin-bottom: 43px;
        line-height: 1.286;
    }

    .blockquote__text {
        max-width: 386px;
        margin: 0 auto;
    }

    .estate-offer {
        padding: 92px 0 74px 0;
    }
}


@media screen and (max-width: 455px) {
    h1 {
        letter-spacing: 0.25em;
    }

    h1 span {
        letter-spacing: 0.05em;
    }

    .partners__quote {
        height: 250px;
    }
}

@media screen and (max-width: 445px) {
    h2 {
        font-size: 28px;
    }

    .advantages__item {
        width: 300px;
        max-width: 300px;
    }

    .advantages__item:last-child {
        width: 300px;
        max-width: 300px;
    }

    .advantages__description {
        width: 230px;
        height: 100%;
    }

    .moving-offer {
        padding: 69px 0 90px 0;
    }
}

@media screen and (max-width: 430px) {
    .partners__quote {
        height: 300px;
    }
    h1.pages-html__offer__title {
        letter-spacing: 0.1em;
    }
}


@media screen and (max-width: 410px) {
    form input, button.consultation-btn {
        width: 300px;
    }
    .footer__wrapper {
        flex-direction: column;
        row-gap: 15px;
    }
}

@media screen and (max-width: 375px) {
    h1 {
        font-size: 39px;
    }

    h1 span {
        font-size: 25px;
    }

    .moving-offer__title {
        margin-bottom: 30px;
    }

    .blockquote__quote {
        margin-bottom: 10px;
    }

    .blockquote__text {
        font-size: 15px;
    }

    .blockquote__author {
        font-size: 13px;
    }

    .moving-offer__question {
        padding: 38px;
    }

    .moving-offer__heading {
        font-size: 30px;
    }

    .moving-offer__answer-text {
        margin-bottom: 40px;
    }

    .partners__quote {
        height: 350px;
    }

    h1.pages-html__offer__title {
        font-size: 36px;
    }

}

@media screen and (max-width: 345px) {
    .partners__quote {
        height: 388px;
    }
}


/* .. === главная страница и общие настройки страниц === */


